extends ./layout/layout.pug

block content

  // Hero
  .hero
    .container
      .hero-content.d-flex.p-4
        .profile
          img.w-100(src="./assets/images/introduction/profile.png", alt="")
        .contact.flex-1.mt-5
          h4.mb-3.tt-c Sunny coast handyman
          ul
            li
              img(src="./assets/images/introduction/telephone.png", alt="")
              p 0413 666 888
            li
              img(src="./assets/images/introduction/address.png", alt="")
              p 987 The Entrance Road Erina, NSW 2250
            li
              img(src="./assets/images/introduction/abn.png", alt="")
              p ABN: 37 125 870 260
        .credibility.flex-1.mt-5  
          ul.mt-3
            li
              img(src="./assets/images/credibility/emergency-work.png", alt="Emergency work")
              p Emergency work
            li
              img(src="./assets/images/credibility/abn-checked.png", alt="ABN Checked")
              p ABN Checked
            li
              img(src="./assets/images/credibility/licensed-insured.png", alt="Licensed and Insured")
              p Licensed and Insured
            li
              img(src="./assets/images/credibility/fix4me-verified.png", alt="Fix4me Verified")
              p Fix4me Verified
  // Introduction
  .introduction
    .container
      .inner-content
        .intro-inner.d-flex
          .intro-left.d-flex.flex-column
            .message
              p Looking for a trustworthy, experienced and licensed Handyman on the Central Coast?
              p Then look no further!
              p Hi, I’m Ben from Sunny Coast Handyman Services, and I have been proudly servicing the Central Coast for just over 7 years. I am fully licensed and insured so you can feel confident when booking me for your next job.
              p I am a family man who loves getting out for wave whenever I can, and spending time with my wife and 2 young kids.
              p.m-0 Call me a call to discuss your next job – I'd love to speak to you!
            .services-licenses
              ul.services-tabs.nav.nav-tabs
                li.active
                  a(href='#') Trade services
                li
                  a(href='#') Licenses
              .services-content
                .ts-container.d-flex.flex-wrap.p-3
                  .ts-item.checked
                    p Air Conditioning/Heating
                  .ts-item
                    p Appliance New/Repairs
                  .ts-item.checked
                    p Asbestos Inspection
                  .ts-item.checked
                    p Asbestos Management
                  .ts-item
                    p Architecture
                  .ts-item
                    p Balustrudes
                  .ts-item
                    p Ashphalt Concreting
                  .ts-item
                    p Balustrades
                  .ts-item
                    p Bath Resurfacing
                  .ts-item
                    p Bathroom Renovations
                  .ts-item
                    p Bin Cleaning
                  .ts-item.checked
                    p Carpet Repair
                  .ts-item
                    p Blinds, Curtains, Awnings
                  .ts-item
                    p Bricklaying
                  .ts-item
                    p Building
                  .ts-item
                    p Building Consultancy or Certification
                  .ts-item
                    p Cabinets
                  .ts-item.checked
                    p Cabling - Phone/Data/TV
              a.view-all-links.d-flex.align-items-center.mt-4(href="")
                span.text View all services
                span.right-arrow.d-flex.align-items-center
                  i.fas.fa-angle-right
          .intro-right
            .banner.d-flex.flex-column.align-items-start.justify-content-center
              img(src="./assets/images/fix4me/fix4me-logo.png", alt="Fix4me")
              .dots.my-4
              p.d-flex.justify-content-center 127 completed jobs 96% completion rate Average Rating 4.8 star
              h4.mt-5.mb-4 Fix4me Verified Trade Supplier
              a.view-my-profile.w-100(href="") View my profile
  // Job Photos
  .job-photos
    .container
      .inner-content
        h3.section-title Our Job Photos
        .jp-container.d-flex.justify-content-around.align-items-start.flex-wrap
          img(src="./assets/images/job-photos/jp-1.png", alt="Job Photo 1")
          img(src="./assets/images/job-photos/jp-2.png", alt="Job Photo 2")
          img(src="./assets/images/job-photos/jp-3.jpg", alt="Job Photo 3")
          img(src="./assets/images/job-photos/jp-4.jpg", alt="Job Photo 4")
          img(src="./assets/images/job-photos/jp-5.jpg", alt="Job Photo 5")
          img(src="./assets/images/job-photos/jp-6.jpg", alt="Job Photo 6")
          img(src="./assets/images/job-photos/jp-7.jpg", alt="Job Photo 7")
          img(src="./assets/images/job-photos/jp-8.jpg", alt="Job Photo 8")
          img(src="./assets/images/job-photos/jp-9.jpg", alt="Job Photo 9")
          img(src="./assets/images/job-photos/jp-10.jpg", alt="Job Photo 10")
          img(src="./assets/images/job-photos/jp-11.jpg", alt="Job Photo 11")
          img(src="./assets/images/job-photos/jp-12.jpg", alt="Job Photo 12")
          img(src="./assets/images/job-photos/jp-16.jpg", alt="Job Photo 16")
          img(src="./assets/images/job-photos/jp-13.jpg", alt="Job Photo 13")
          img(src="./assets/images/job-photos/jp-14.jpg", alt="Job Photo 14")
          img(src="./assets/images/job-photos/jp-15.jpg", alt="Job Photo 15")
        #jp-carousel.carousel.slide(data-ride='carousel').d-none
          ol.carousel-indicators
            li.active(data-target='#jp-carousel', data-slide-to='0')
            li(data-target='#jp-carousel', data-slide-to='1')
            li(data-target='#jp-carousel', data-slide-to='2')
            li(data-target='#jp-carousel', data-slide-to='3')
            li(data-target='#jp-carousel', data-slide-to='4')
            li(data-target='#jp-carousel', data-slide-to='5')
            li(data-target='#jp-carousel', data-slide-to='6')
            li(data-target='#jp-carousel', data-slide-to='7')
            li(data-target='#jp-carousel', data-slide-to='8')
            li(data-target='#jp-carousel', data-slide-to='9')
            li(data-target='#jp-carousel', data-slide-to='10')
            li(data-target='#jp-carousel', data-slide-to='11')
            li(data-target='#jp-carousel', data-slide-to='12')
            li(data-target='#jp-carousel', data-slide-to='13')
            li(data-target='#jp-carousel', data-slide-to='14')
            li(data-target='#jp-carousel', data-slide-to='15')
          .carousel-inner
            .carousel-item.active
              img.d-block.h-100(src="./assets/images/job-photos/jp-1.png", alt="Job Photo 1")
            .carousel-item
              img.d-block.h-100(src="./assets/images/job-photos/jp-2.png", alt="Job Photo 2")
            .carousel-item
              img.d-block.h-100(src="./assets/images/job-photos/jp-3.jpg", alt="Job Photo 3")
            .carousel-item
              img.d-block.h-100(src="./assets/images/job-photos/jp-4.jpg", alt="Job Photo 4")
            .carousel-item
              img.d-block.h-100(src="./assets/images/job-photos/jp-5.jpg", alt="Job Photo 5")
            .carousel-item
              img.d-block.h-100(src="./assets/images/job-photos/jp-6.jpg", alt="Job Photo 6")
            .carousel-item
              img.d-block.h-100(src="./assets/images/job-photos/jp-7.jpg", alt="Job Photo 7")
            .carousel-item
              img.d-block.h-100(src="./assets/images/job-photos/jp-8.jpg", alt="Job Photo 8")
            .carousel-item
              img.d-block.h-100(src="./assets/images/job-photos/jp-9.jpg", alt="Job Photo 9")
            .carousel-item
              img.d-block.h-100(src="./assets/images/job-photos/jp-10.jpg", alt="Job Photo 10")
            .carousel-item
              img.d-block.h-100(src="./assets/images/job-photos/jp-11.jpg", alt="Job Photo 11")
            .carousel-item
              img.d-block.h-100(src="./assets/images/job-photos/jp-12.jpg", alt="Job Photo 12")
            .carousel-item
              img.d-block.h-100(src="./assets/images/job-photos/jp-16.jpg", alt="Job Photo 16")
            .carousel-item
              img.d-block.h-100(src="./assets/images/job-photos/jp-13.jpg", alt="Job Photo 13")
            .carousel-item
              img.d-block.h-100(src="./assets/images/job-photos/jp-14.jpg", alt="Job Photo 14")
            .carousel-item
              img.d-block.h-100(src="./assets/images/job-photos/jp-15.jpg", alt="Job Photo 15")
          a.carousel-control-prev(href='#jp-carousel', role='button', data-slide='prev')
            span.carousel-control-prev-icon(aria-hidden='true')
            span.sr-only Previous
          a.carousel-control-next(href='#jp-carousel', role='button', data-slide='next')
            span.carousel-control-next-icon(aria-hidden='true')
            span.sr-only Next

        .d-flex.mt-3
          a.view-all-links.d-flex.align-items-center.mt-4(href="")
                  span.text View full gallery
                  span.right-arrow.d-flex.align-items-center
                    i.fas.fa-angle-right
  // Reviews
  .reviews
    .container
      .inner-content
        h3.section-title Our recent reviews
        .reviews-container.d-flex.flex-wrap.justify-content-between.px-3.py-2
          .rc-item
            .rc-top
              p.name John Doe
              img(src="./assets/images/reviews/5-star.png", alt="5 star review")
            .rc-body
              p.title Fixing windows and installing new door
              p.description Psellus metus massa, auctor ut condimentum dictum, tincidunt nec arcu. Nam pharetra urna ac metus pellentesque porta. Praesent placerat tortor nec lacinia venenatis.“
          //- rc-item
          .rc-item
            .rc-top
              p.name Jane Smith
              img(src="./assets/images/reviews/5-star.png", alt="5 star review")
            .rc-body
              p.title Install carpets in 2 rooms
              p.description Sed varius dignissim augue at sodales. Sed non libero ut dolor feugiat fringilla at sed metus. Nunc mi ante, auctor et purus quis, pharetra blandit purus. Cras libero nisl, vestibulum id elementum non, laoreet ac orci. Morbi bibendum elit non ante sodales molestie. Curabitur egestas eros metus, sit amet vestibulum odio varius eget. Sed iaculis nibh ut mattis volutpat.
          //- rc-item
          .rc-item
            .rc-top
              p.name Samuel L 
              img(src="./assets/images/reviews/4.5-star.png", alt="4.5 star review")
            .rc-body
              p.title Coodo, ornare ullamcorpern
              p.description Gravida lorem nisi ac massa. Nunc dui odio, consequat ac odio at, facilisis pulvinar urna. Cras purus turpis, tincidunt vehicula libero commodo, ornare ullamcorper metus. Ut eget neque vestibulum, tincidunt nisl nec, posuere nunc. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
          //- rc-item
          .rc-item
            .rc-top
              p.name Peter Peterson
              img(src="./assets/images/reviews/5-star.png", alt="5 star review")
            .rc-body
              p.title Plios odo, ornare ullamaw eaol.
              p.description Curabitur lobortis magna nulla, at tristique urna convallis ut. Vivamus iaculis metus non arcu viverra bibendum. Vestibulum efficitur, ex a vestibulum congue, eros nisi blandit dui,
          //- rc-item
          .rc-item
            .rc-top
              p.name Jane Smith
              img(src="./assets/images/reviews/5-star.png", alt="5 star review")
            .rc-body
              p.title Install carpets in 2 rooms
              p.description Sed varius dignissim augue at sodales. Sed non libero ut dolor feugiat fringilla at sed metus. Nunc mi ante, auctor et purus quis, pharetra blandit purus. Cras libero nisl, vestibulum id elementum non, laoreet ac orci. Morbi bibendum elit non ante sodales molestie. Curabitur egestas eros metus, sit amet vestibulum odio varius eget. Sed iaculis nibh ut mattis volutpat.
          //- rc-item
          .rc-item
            .rc-top
              p.name John Doe
              img(src="./assets/images/reviews/5-star.png", alt="5 star review")
            .rc-body
              p.title Fixing windows and installing new door
              p.description Psellus metus massa, auctor ut condimentum dictum, tincidunt nec arcu. Nam pharetra urna ac metus pellentesque porta. Praesent placerat tortor nec lacinia venenatis.“
          //- rc-item
        .d-flex.mt-3
          a.view-all-links.d-flex.align-items-center(href="")
                  span.text View all reviews
                  span.right-arrow.d-flex.align-items-center
                    i.fas.fa-angle-right
  // Service Areas
  .service-areas
    .container
      .inner-content
        h3.section-title.mb-3 Our service areas
        .details
          p.postcode.mb-1 Postcode: 2250
          p.address Avoca Beach, Bensville, Bouddi, Copacabana, Davistown, Green Point, Kincumber, Kincumber South, Macmasters Beach, Picketts Valley, Saratoga, Yattalunga, Erina Heights, Forresters Beach, North Avoca, Terrigal, Wamberal, Bucketty, Calga, Central Mangrove, East Gosford, Erina, Erina Fair, Glenworth Valley, Gosford, Greengrove, Holgate ...
        .d-flex.mt-3
          a.view-all-links.d-flex.align-items-center.mt-4(href="")
                  span.text.tt-c Expand service areas
                  span.right-arrow.d-flex.align-items-center
                    i.fas.fa-angle-right


