a:link,
a:hover,
a:visited,
a:active {
    color: #fff;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

button {
    outline: none;
    box-shadow: none;
}

body {
    background: #eceef2;
}

h1, h2, h3, h4, h5, h6,
p, span, a, label, strong,
input, textarea {
    font-family: 'Roboto', 'Arial', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
}

a {
    color: #fff;
}

a:hover {
    opacity: 0.85;
}

@media (max-width: 480px) {
    html {
        font-size: 1rem !important;
    }
}

@media (max-width: 767px) {
    html {
        font-size: 1.1rem;
    }
}

@media (min-width: 768px) {
    html {
        font-size: 1.025rem;
    }
}

@media (min-width: 992px) {
    html {
        font-size: 0.95rem;
    }
}

@media (min-width: 1200px) {
    html {
        font-size: 1rem;
    }
}

a.hotdog {
    background: #ffba00;
    border-radius: 1.25rem;
    padding: 0.5rem 1.5rem;
    text-align: center;
}

.inner-content {
    background: #f1f4f8;
    padding: 2.75rem 2rem;
}

@media (max-width: 768px) {
    .inner-content {
        padding: 2rem 1.25rem;
    }
}

@media (max-width: 480px) {
    .inner-content {
        padding: 2rem 0rem;
        background: transparent;
    }
}

.section-title {
    font-weight: 300;
    color: #b3b6ba;
    font-size: 1.35rem;
    padding-bottom: 0.75rem;
    border-bottom: 1px solid #c0c0c0;
    margin-bottom: 2rem;
    text-transform: capitalize;
}

.view-all-links {
    position: relative;
    width: 230px;
    background: #16a9ff;
    border-radius: 3rem;
    padding: 0.65rem 2.3rem;
    overflow: hidden;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .view-all-links {
        width: 240px;
    }
}

.view-all-links .text {
    font-size: 1rem;
}

.view-all-links .right-arrow {
    background: #1498e4;
    position: absolute;
    right: 0;
    padding: 0 1.25rem;
    height: 100%;
}

.view-all-links .right-arrow i {
    font-size: 1.5rem;
}

.flex-1 {
    flex: 1 1 0;
}

.tt-l {
    text-transform: lowercase;
}

.tt-u {
    text-transform: uppercase;
}

.tt-c {
    text-transform: capitalize;
}

.ff-oswald {
    font-family: 'Oswald', 'Arial', sans-serif;
}

.ff-roboto {
    font-family: 'Roboto', 'Arial', sans-serif;
}

.ff-lato {
    font-family: 'Lato', 'Arial', sans-serif;
}

header {
    position: relative;
    background: #fff;
    z-index: 3;
}

header .header-top {
    height: 156px;
}

header .header-top .header-logo {
    width: 210px;
}

header .header-top .header-button .make-booking {
    position: relative;
    width: 270px;
    background: #16a9ff;
    border-radius: 3rem;
    padding: 0.65rem 2.3rem;
    overflow: hidden;
}

header .header-top .header-button .make-booking .text {
    font-size: 1.1rem;
}

header .header-top .header-button .make-booking .right-arrow {
    background: #1498e4;
    position: absolute;
    right: 0;
    padding: 0 1.25rem;
    height: 100%;
}

header .header-top .header-button .make-booking .right-arrow i {
    font-size: 1.5rem;
}

header .header-top .mobile-content {
    display: none;
}

header .header-tabs {
    background: #2f3b4c;
}

header .header-tabs ul {
    list-style-type: none;
}

header .header-tabs ul li {
    display: flex;
}

header .header-tabs ul li.active {
    background: #16a9ff;
}

header .header-tabs ul li a {
    height: 100%;
    min-width: 120px;
    text-transform: uppercase;
    padding: 0.5rem 1.5rem;
    text-align: center;
}

@media (max-width: 768px) {
    header .header-tabs ul li a {
        min-width: unset;
        font-size: 0.9rem;
    }
}

@media (max-width: 768px) {
    header {
        box-shadow: 0 2px 5px #c7c7c7;
    }

    header .header-top {
        height: 120px;
    }

    header .header-top .header-logo {
        width: 150px;
    }

    header .header-top .header-button .make-booking {
        width: 300px !important;
    }

    header .header-top .mobile-content {
        display: flex;
    }

    header .header-top .mobile-content .mc-menu {
        position: relative;
        z-index: 17;
    }

    header .header-top .mobile-content .mc-menu .hamburger {
        display: flex;
    }

    header .header-top .mobile-content .mc-logo {
        width: 30%;
    }

    header .header-tabs ul {
        margin: 0 auto !important;
    }
}

.hero {
    position: relative;
    z-index: 1;
}

.hero ul {
    list-style-type: none;
}

.hero .hero-content {
    background: #fff;
    box-shadow: 0 3px 15px #c7c7c7;
}

.hero .hero-content .profile {
    width: 15%;
}

.hero .hero-content .profile img {
    border-radius: 0.25rem;
}

.hero .hero-content .contact ul li,
    .hero .hero-content .credibility ul li {
    display: flex;
    align-items: flex-start;
}

.hero .hero-content .contact ul li img,
      .hero .hero-content .credibility ul li img {
    margin-right: 0.8rem;
}

.hero .hero-content .contact ul li p,
      .hero .hero-content .credibility ul li p {
    font-weight: 300;
    color: #545c67;
    margin-bottom: 0.6rem;
}

.hero .hero-content .contact h4 {
    color: #2f3b4c;
    padding-left: 2.5rem;
}

@media (max-width: 991px) {
    .hero .hero-content .profile {
        width: 25%;
    }

    .hero .hero-content .contact {
        margin: 0 !important;
    }
}

@media (max-width: 768px) {
    .hero .hero-content {
        flex-direction: column;
    }

    .hero .hero-content .contact,
        .hero .hero-content .credibility {
        margin-top: 1rem !important;
        text-align: center;
    }

    .hero .hero-content .contact h4,
          .hero .hero-content .credibility h4 {
        padding: 0;
    }

    .hero .hero-content .contact ul,
          .hero .hero-content .credibility ul {
        padding: 0 !important;
    }

    .hero .hero-content .contact ul li,
            .hero .hero-content .credibility ul li {
        justify-content: center;
    }

    .hero .hero-content .profile {
        width: 50%;
        margin: 0 auto;
    }

    .hero .hero-content .credibility {
        margin: 0 !important;
    }
}

@media (max-width: 991px) {
    .introduction .intro-inner {
        flex-direction: column;
    }
}

.introduction .intro-inner .intro-left .message {
    padding: 2.25rem;
    background: #fff;
    border-radius: 0.35rem;
    border: 1px solid #c0c0c0;
}

@media (max-width: 480px) {
    .introduction .intro-inner .intro-left .message {
        padding: 2.25rem 1rem;
    }
}

.introduction .intro-inner .intro-left .message p {
    font-weight: 300;
    font-size: 0.9rem;
    color: #545c67;
}

.introduction .intro-inner .intro-left .services-licenses {
    margin-top: 2.5rem;
}

.introduction .intro-inner .intro-left .services-licenses .services-tabs {
    border-bottom: none;
}

.introduction .intro-inner .intro-left .services-licenses .services-tabs li {
    display: flex;
    margin-right: 0.2rem;
}

.introduction .intro-inner .intro-left .services-licenses .services-tabs li.active a {
    color: #545c67;
    background: #e0e5ec;
}

.introduction .intro-inner .intro-left .services-licenses .services-tabs li a {
    width: 190px;
    padding: 0.4rem 0.75rem;
    border: 1px solid #c0c0c0;
    border-bottom: none;
    border-radius: 0.35rem 0.35rem 0 0;
    color: #8f9398;
    text-align: center;
    font-weight: 300;
}

@media (max-width: 768px) {
    .introduction .intro-inner .intro-left .services-licenses .services-tabs {
        justify-content: center;
    }

    .introduction .intro-inner .intro-left .services-licenses .services-tabs li {
        flex: 1;
        width: 100%;
    }

    .introduction .intro-inner .intro-left .services-licenses .services-tabs li:last-child {
        margin: 0 !important;
    }

    .introduction .intro-inner .intro-left .services-licenses .services-tabs li a {
        width: 100%;
    }
}

.introduction .intro-inner .intro-left .services-licenses .services-content {
    background: #e0e5ec;
    border: 1px solid #c0c0c0;
}

.introduction .intro-inner .intro-left .services-licenses .services-content .ts-item {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 1rem;
    padding: 0.35rem 1rem;
    margin: 0.35rem 0.4rem;
    max-width: 300px;
}

.introduction .intro-inner .intro-left .services-licenses .services-content .ts-item.checked {
    position: relative;
    justify-content: flex-start;
    padding-right: 2.2rem;
}

.introduction .intro-inner .intro-left .services-licenses .services-content .ts-item.checked::after {
    content: "\f00c";
    position: absolute;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 0.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 0.25rem;
    background: #c1c3c7;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    right: 8px;
}

.introduction .intro-inner .intro-left .services-licenses .services-content .ts-item p {
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 0.9rem;
    font-weight: 300;
    margin: 0;
    color: #545c67;
}

.introduction .intro-inner .intro-right {
    margin-left: 2rem;
}

@media (max-width: 991px) {
    .introduction .intro-inner .intro-right {
        margin: 0;
        width: 100%;
    }
}

.introduction .intro-inner .intro-right .banner {
    width: 235px;
    background: #f0614f;
    border-radius: 0.35rem;
    padding: 4rem 1.5rem 2.5rem 1.5rem;
}

.introduction .intro-inner .intro-right .banner h4, .introduction .intro-inner .intro-right .banner p, .introduction .intro-inner .intro-right .banner a, .introduction .intro-inner .intro-right .banner img {
    color: #fff;
    text-align: center;
    margin: 0 auto;
}

.introduction .intro-inner .intro-right .banner img {
    width: 55%;
}

.introduction .intro-inner .intro-right .banner .dots {
    margin: 0 auto;
    height: 60px;
    border-right: 5px dotted #fff;
}

.introduction .intro-inner .intro-right .banner p {
    position: relative;
    font-weight: 300;
    font-size: 0.95rem;
    padding-bottom: 2.75rem;
    width: 85%;
}

.introduction .intro-inner .intro-right .banner p:after {
    content: '';
    position: absolute;
    bottom: 0;
    border-bottom: 1px solid #fff;
    width: 60%;
}

.introduction .intro-inner .intro-right .banner h4 {
    font-size: 1.45rem;
    font-weight: 400;
}

.introduction .intro-inner .intro-right .banner a.view-my-profile {
    font-size: 1.1rem;
    background: #fff;
    color: #f0614f;
    padding: 0.65rem 1.75rem;
    border-radius: 6px;
}

@media (max-width: 991px) {
    .introduction .intro-inner .intro-right .banner {
        width: 100%;
        margin-top: 2rem;
    }

    .introduction .intro-inner .intro-right .banner img {
        width: unset;
        margin-bottom: 0.75rem;
    }

    .introduction .intro-inner .intro-right .banner .dots {
        display: none;
    }
}

.job-photos .jp-container img {
    height: 160px;
    margin-bottom: 0.5rem;
}

.job-photos .jp-container img:hover {
    opacity: 0.8;
}

.job-photos .carousel {
    background: #c9ced4;
}

.job-photos .carousel .carousel-item {
    height: 350px;
}

.job-photos .carousel .carousel-item img {
    margin: 0 auto;
}

@media (max-width: 768px) {
    .job-photos .jp-container {
        display: none !important;
    }

    .job-photos .carousel {
        display: flex !important;
    }
}

.reviews .reviews-container .rc-item {
    width: 42%;
    margin-bottom: 2.25rem;
}

@media (max-width: 767px) {
    .reviews .reviews-container .rc-item {
        width: 100%;
    }
}

.reviews .reviews-container .rc-item .rc-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
}

.reviews .reviews-container .rc-item .rc-top p {
    margin: 0;
    font-weight: 600;
    color: #4f5051;
}

.reviews .reviews-container .rc-item .rc-top img {
    width: 130px;
}

.reviews .reviews-container .rc-item .rc-body p {
    font-weight: 300;
}

.reviews .reviews-container .rc-item .rc-body .title {
    color: #1794f4;
    margin-bottom: 0.25rem;
}

.reviews .reviews-container .rc-item .rc-body .description {
    color: #4f5051;
    font-size: 0.85rem;
    margin: 0;
}

@media (max-width: 991px) {
    .reviews .inner-content > .d-flex {
        margin: 0 !important;
    }
}

.service-areas .inner-content {
    padding-bottom: 21rem;
}

.service-areas .inner-content p {
    font-size: 0.82rem;
    color: #2f3b4c;
}

.service-areas .inner-content .postcode {
    font-size: 1.2rem;
}

.service-areas .inner-content .address {
    font-weight: 300;
}

.service-areas .inner-content .view-all-links {
    width: 265px;
}

@media (max-width: 768px) {
    .service-areas .inner-content {
        padding-bottom: 5rem;
    }

    .service-areas .inner-content .view-all-links {
        width: 290px;
    }
}

.hamburger {
    display: none;
    transition-property: opacity, -webkit-filter;
    transition-property: opacity, filter;
    transition-property: opacity, filter, -webkit-filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    text-transform: none;
    overflow: visible;
    padding: 0 !important;
    outline: none !important;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
}

.hamburger:hover .hamburger-inner,
  .hamburger:hover .hamburger-inner::before,
  .hamburger:hover .hamburger-inner::after {
    background-color: #2e2e2e;
}

.hamburger-box {
    width: 26px;
    height: 24px;
    display: inline-block;
    position: relative;
}

.hamburger-box .hamburger-inner {
    display: flex;
    top: 50%;
    margin-top: -2px;
}

.hamburger-box .hamburger-inner, .hamburger-box .hamburger-inner::before, .hamburger-box .hamburger-inner::after {
    width: 24px;
    height: 3px;
    background-color: #818181;
    position: absolute;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
}

.hamburger-box .hamburger-inner::before, .hamburger-box .hamburger-inner::after {
    content: "";
}

.hamburger-box .hamburger-inner::before {
    top: -10px;
}

.hamburger-box .hamburger-inner::after {
    bottom: -10px;
}

.hamburger--collapse .hamburger-inner {
    top: auto;
    bottom: 0;
    transition-duration: 0.13s;
    transition-delay: 0.13s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--collapse .hamburger-inner::after {
    top: -20px;
    transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
}

.hamburger--collapse .hamburger-inner::before {
    transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--collapse.is-active .hamburger-inner {
    -webkit-transform: translate3d(0, -10px, 0) rotate(-45deg);
            transform: translate3d(0, -10px, 0) rotate(-45deg);
    transition-delay: 0.22s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--collapse.is-active .hamburger-inner::after {
    top: 0;
    opacity: 0;
    transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear;
}

.hamburger--collapse.is-active .hamburger-inner::before {
    top: 0;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), -webkit-transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.overlay {
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 16;
    top: 0;
    left: 0;
    background-color: #fbfbfb;
    background-color: rgba(251, 251, 251, 0.98);
    overflow-x: hidden;
    transition: 0.4s;
}

.overlay.is-active {
    height: 100%;
}

.overlay .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
}

.overlay .overlay-content a {
    font-family: 'Oswald', 'Arial', sans-serif;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.75rem;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay .overlay-content a:hover, .overlay .overlay-content a:focus {
    color: #2e2e2e;
}
