
@import './partials/reset';
@import './partials/base';
@import './partials/components';
@import './partials/classes';
@import './partials/mixins';

// Header
header {
    position: relative;
    background: #fff;
    z-index: 3;

    .header-top {
        height: 156px;

        .header-logo {
            width: 210px;
        }
        .header-button {
            .make-booking {
                position: relative;
                width: 270px;
                background: #16a9ff;
                border-radius: 3rem;
                padding: 0.65rem 2.3rem;
                overflow: hidden;

                .text {
                    font-size: 1.1rem;
                }

                .right-arrow {
                    background: #1498e4;
                    position: absolute;
                    right: 0;
                    padding: 0 1.25rem;
                    height: 100%;

                    i {
                        font-size: 1.5rem;
                    }
                }
            }
        }
        .mobile-content {
            display: none;
        }
    }
    .header-tabs {
        background: #2f3b4c;

        ul {
            list-style-type: none;

            li {
                display: flex;

                &.active {
                    background: #16a9ff;
                }

                a {
                    height: 100%;
                    min-width: 120px;
                    text-transform: uppercase;
                    padding: 0.5rem 1.5rem;
                    text-align: center;

                    @include breakpoint-max(sm) {
                        min-width: unset;
                        font-size: 0.9rem;
                    }
                }
            }
        }
    }
    @include breakpoint-max(sm) {
        box-shadow: 0 2px 5px #c7c7c7;

        .header-top {
            height: 120px;

            .header-logo {
                width: 150px;
            }
            .header-button {
                .make-booking {
                    width: 300px !important;
                }
            }
            .mobile-content {
                display: flex;

                .mc-menu {
                    position: relative;
                    z-index: 17;

                    .hamburger {
                        display: flex;
                    }
                }
                .mc-logo {
                    width: 30%;
                }
            }
        }
        .header-tabs {
            ul {
                margin: 0 auto !important;
            }
        }
    }
}

// Hero
.hero {
    position: relative;
    z-index: 1;

    ul {
        list-style-type: none;
    }
    .hero-content {
        background: #fff;
        box-shadow: 0 3px 15px #c7c7c7;

        .profile {
            width: 15%;

            img {
                border-radius: 0.25rem;
            }
        }
        .contact,
        .credibility {
            ul li {
                display: flex;
                align-items: flex-start;

                img {
                    margin-right: 0.8rem;
                }
                p {
                    font-weight: 300;
                    color: #545c67;
                    margin-bottom: 0.6rem
                }
            }
        }
        .contact {
            h4 {
                color: #2f3b4c;
                padding-left: 2.5rem;
            }
        }

        @include breakpoint-max(md) {
            .profile {
                width: 25%;
            }
            .contact {
                margin: 0 !important;
            }
        }
        @include breakpoint-max(sm) {
            flex-direction: column;

            .contact,
            .credibility {
                margin-top: 1rem !important;
                text-align: center;

                h4 {
                    padding: 0;
                }
                ul {
                    padding: 0 !important;

                    li {
                        justify-content: center;
                    }
                }
            }
            .profile {
                width: 50%;
                margin: 0 auto;
            }
            .credibility {
                margin: 0 !important;
            }
        }
    }
}

// Introduction
.introduction {
    .intro-inner {
        @include breakpoint-max(md) {
            flex-direction: column;
        }
        .intro-left {
            .message {
                padding: 2.25rem;
                background: #fff;
                border-radius: 0.35rem;
                border: 1px solid #c0c0c0;

                @include breakpoint-max(xs) {
                    padding: 2.25rem 1rem;
                }

                p {
                    font-weight: 300;
                    font-size: 0.9rem;
                    color: #545c67;
                }
            }
            .services-licenses {
                margin-top: 2.5rem;

                .services-tabs {
                    border-bottom: none;

                    li {
                        display: flex;
                        margin-right: 0.2rem;

                        &.active {
                            a {
                                color: #545c67;
                                background: #e0e5ec;
                            }
                        }
                        a {
                            width: 190px;
                            padding: 0.4rem 0.75rem;
                            border: 1px solid #c0c0c0;
                            border-bottom: none;
                            border-radius: 0.35rem 0.35rem 0 0;
                            color: #8f9398;
                            text-align: center;
                            font-weight: 300;
                        }
                    }
                    @include breakpoint-max(sm) {
                        justify-content: center;

                        li {
                            flex: 1;
                            width: 100%;
                            
                            &:last-child {
                                margin: 0 !important;
                            }

                            a {
                                width: 100%;
                            }
                        }
                    }
                }
                .services-content {
                    background: #e0e5ec;
                    border: 1px solid #c0c0c0;

                    .ts-item {
                        flex-grow: 1;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background: #fff;
                        border-radius: 1rem;
                        padding: 0.35rem 1rem;
                        margin: 0.35rem 0.4rem;
                        max-width: 300px;
                
                        &.checked {
                            position: relative;
                            justify-content: flex-start;
                            padding-right: 2.2rem;
                
                            &::after {
                                content: "\f00c";
                                position: absolute;
                                font-family: "Font Awesome 5 Free"; 
                                font-weight: 900; 
                                font-size: 0.6rem;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                color: #fff;
                                padding: 0.25rem;
                                background: #c1c3c7;
                                border-radius: 50%;
                                width: 18px;
                                height: 18px;
                                right: 8px;
                            }
                        }
                
                        p {
                            font-family: 'Roboto', 'Arial', sans-serif;
                            font-size: 0.9rem;
                            font-weight: 300;
                            margin: 0;
                            color: #545c67;
                        }
                    }
                }
            }
        }
        .intro-right {
            margin-left: 2rem;

            @include breakpoint-max(md) {
                margin: 0;
                width: 100%;
            }

            .banner {
                width: 235px;
                background: #f0614f;
                border-radius: 0.35rem;
                padding: 4rem 1.5rem 2.5rem 1.5rem;

                h4, p, a, img {
                    color: #fff;
                    text-align: center;
                    margin: 0 auto;
                }
                img {
                    width: 55%;
                }
                .dots {
                    margin: 0 auto;
                    height: 60px;
                    border-right: 5px dotted #fff;
                }
                p {
                    position: relative;
                    font-weight: 300;
                    font-size: 0.95rem;
                    padding-bottom: 2.75rem;
                    width: 85%;

                    &:after {
                        content: '';
                        position: absolute;
                        bottom: 0;
                        border-bottom: 1px solid #fff;
                        width: 60%;
                    }
                }
                h4 {
                    font-size: 1.45rem;
                    font-weight: 400;
                }
                a.view-my-profile {
                    font-size: 1.1rem;
                    background: #fff;
                    color: #f0614f;
                    padding: 0.65rem 1.75rem;
                    border-radius: 6px;
                }

                @include breakpoint-max(md) {
                    width: 100%;
                    margin-top: 2rem;

                    img {
                        width: unset;
                        margin-bottom: 0.75rem;
                    }
                    .dots {
                        display: none;
                    }
                }
            }
        }
    }
}

// Job Photos
.job-photos {
    .jp-container {
        img {
            height: 160px;
            margin-bottom: 0.5rem;

            &:hover {
                opacity: 0.8;
            }
        }
    }
    .carousel {
        background: #c9ced4;

        .carousel-item {
            height: 350px;

            img {
                margin: 0 auto;
            }
        }
    }
    @include breakpoint-max(sm) {
        .jp-container {
            display: none !important;
        }
        .carousel {
            display: flex !important;
        }
    }
}


// Reviews
.reviews {
    .reviews-container {
        .rc-item {
            width: 42%;
            margin-bottom: 2.25rem;

            @include breakpoint-only(sm) {
                width: 100%;
            }

            .rc-top {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 0.5rem;

                p {
                    margin: 0;
                    font-weight: 600;
                    color: #4f5051;
                }
                img {
                    width: 130px;
                }
            }
            .rc-body {
                p {
                    font-weight: 300;
                }
                .title {
                    color: #1794f4;
                    margin-bottom: 0.25rem;
                }
                .description {
                    color: #4f5051;
                    font-size: 0.85rem;
                    margin: 0;
                }
            }
        }
    }
    @include breakpoint-max(md) {
        .inner-content > .d-flex {
            margin: 0 !important;
        }
    }
}

// Service Areas
.service-areas {
    .inner-content {
        padding-bottom: 21rem;

        p {
            font-size: 0.82rem;
            color: #2f3b4c;
        }
        .postcode {
            font-size: 1.2rem;
        }
        .address {
            font-weight: 300;
        }
        .view-all-links {
            width: 265px;
        }

        @include breakpoint-max(sm) {
            padding-bottom: 5rem;

            .view-all-links {
                width: 290px;
            }
        }
    }
}

// Burger menu icon and animations
.hamburger {
    display: none;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    text-transform: none;
    overflow: visible;
    padding: 0 !important;
    outline: none !important;
    transform: scale(1.05);

    &:hover {
        .hamburger-inner,
        .hamburger-inner::before,
        .hamburger-inner::after {
            background-color: #2e2e2e;
        }
    }
}
.hamburger-box {
    width: 26px;
    height: 24px;
    display: inline-block;
    position: relative;

    .hamburger-inner {
        display: flex;
        top: 50%;
        margin-top: -2px;

        &, &::before, &::after {
            width: 24px;
            height: 3px;
            background-color: #818181;
            position: absolute;
            transition-property: transform;
            transition-duration: 0.15s;
            transition-timing-function: ease;
        }
        &::before, &::after {
            content: "";
        }
        &::before {
            top: -10px;
        }
        &::after {
            bottom: -10px;
        }
    }
}
.hamburger--collapse .hamburger-inner {
    top: auto;
    bottom: 0;
    transition-duration: 0.13s;
    transition-delay: 0.13s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--collapse .hamburger-inner::after {
    top: -20px;
    transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
}
.hamburger--collapse .hamburger-inner::before {
    transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--collapse.is-active .hamburger-inner {
    transform: translate3d(0, -10px, 0) rotate(-45deg);
    transition-delay: 0.22s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hamburger--collapse.is-active .hamburger-inner::after {
    top: 0;
    opacity: 0;
    transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear;
}
.hamburger--collapse.is-active .hamburger-inner::before {
    top: 0;
    transform: rotate(-90deg);
    transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
}

// Overlay mobile menu
.overlay {
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 16;
    top: 0;
    left: 0;
    background-color: #fbfbfb;
    background-color: rgba(251, 251, 251, 0.98);
    overflow-x: hidden;
    transition: 0.4s;

    &.is-active {
        height: 100%;
    }
    .overlay-content {
        position: relative;
        top: 25%;
        width: 100%;
        text-align: center;

        a {
            font-family: 'Oswald', 'Arial', sans-serif;
            padding: 0.5rem;
            text-decoration: none;
            font-size: 1.75rem;
            color: #818181;
            display: block;
            transition: 0.3s;

            &:hover, &:focus {
                color: #2e2e2e;
            }
        }
    }
}