@import './partials/mixins';

a.hotdog {
    background: #ffba00;
    border-radius: 1.25rem;
    padding: 0.5rem 1.5rem;
    text-align: center;
}

.inner-content {
    background: #f1f4f8; 
    padding: 2.75rem 2rem;

    @include breakpoint-max(sm) {
        padding: 2rem 1.25rem;
    }
    @include breakpoint-max(xs) {
        padding: 2rem 0rem;
        background: transparent;
    }
}

.section-title {
    font-weight: 300;
    color: #b3b6ba;
    font-size: 1.35rem;
    padding-bottom: 0.75rem;
    border-bottom: 1px solid #c0c0c0;
    margin-bottom: 2rem;
    text-transform: capitalize;
}

.view-all-links {
    position: relative;
    width: 230px;
    background: #16a9ff;
    border-radius: 3rem;
    padding: 0.65rem 2.3rem;
    overflow: hidden;
    margin: 0 auto;

    @include breakpoint-max(sm) {
        width: 240px;
    }

    .text {
        font-size: 1rem;
    }

    .right-arrow {
        background: #1498e4;
        position: absolute;
        right: 0;
        padding: 0 1.25rem;
        height: 100%;

        i {
            font-size: 1.5rem;
        }
    }
}