header.w-100
  .header-top
    .container.d-flex.justify-content-between.align-items-center.h-100
        .header-logo
          img.w-100(src="../assets/images/logo.png", alt="Sunny Coast Handyman")
        .header-button.d-none.d-md-flex
          a.make-booking.d-flex.align-items-center(href="")
            span.text.tt-u Make a booking / request a quote
            span.right-arrow.d-flex.align-items-center
              i.fas.fa-angle-right
        // Mobile
        .mobile-content.justify-content-end
          .mc-menu.d-flex.align-items-center.justify-content-center
            button.hamburger.hamburger--collapse.navbar-toggler
              span.hamburger-box
                span.hamburger-inner
          .mobile-menu.overlay
              .overlay-content
                a(href='#') Home
                a(href='#') About
                a(href='#') Review
                a(href='#') Gallery
                a(href='#') Payment
  .header-tabs.d-none.d-md-flex
    .container.d-flex.justify-content-end
      ul.p-0.m-0.d-flex.h-100
        li.active
          a(href="") Home
        li
          a(href="") About
        li
          a(href="") Reviews
        li
          a(href="") Gallery
        li
          a(href="") Make payment
  



